@page "/"
@using System.Text.Json
@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

<div class="title">
    <h1>2024</h1>
</div>


<div class="calendar">
    <!-- Weekdays -->
    <div class="weekday">Sun</div>
    <div class="weekday">Mon</div>
    <div class="weekday">Tue</div>
    <div class="weekday">Wed</div>
    <div class="weekday">Thu</div>
    <div class="weekday">Fri</div>
    <div class="weekday">Sat</div>

    <!-- Days 1 to 24 -->
    @for (int day = 1; day <= 24; day++)
    {
        string dayClass = "day";

        // 土曜日、日曜日の場合のクラス追加
        if (day % 7 == 1) // 1, 8, 15, 22 → 日曜日 (sunday)
        {
            dayClass += " sunday";
        }
        else if (day % 7 == 0) // 7, 14, 21 → 土曜日 (saturday)
        {
            dayClass += " saturday";
        }

        <div class="@dayClass">
            <span>@day</span>
            <div class="calendar-content">
                <a class="how-to-contribute" href="https://github.com/igjp-sample/AdventCalendar/blob/main/how_to_contribute_article.md" target="_blank">+</a>
            </div>
        </div>
    }

    <!-- Days 25 to 28 (Greyed out) -->
    <div class="day greyed-out"><span>25</span></div>
    <div class="day greyed-out"><span>26</span></div>
    <div class="day greyed-out"><span>27</span></div>
    <div class="day greyed-out"><span>28</span></div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        //var markdownFiles = await GetMarkdownFiles();
    }

    private async Task<List<string>> GetMarkdownFiles()
    {
        var client = HttpClient;
        client.DefaultRequestHeaders.UserAgent.ParseAdd("request");

        var response = await client.GetAsync("https://api.github.com/repos/igjp-sample/AdventCalendar/contents/content");
        if (response.IsSuccessStatusCode)
        {
            var jsonResponse = await response.Content.ReadAsStringAsync();
            return JsonSerializer.Deserialize<List<string>>(jsonResponse);
        }

        return new List<string>();
    }

}