@page "/"

<PageTitle>Home</PageTitle>

<div class="title">
    <h1>2024</h1>
</div>


<div class="calendar">
    <!-- Weekdays -->
    <div class="weekday">Sun</div>
    <div class="weekday">Mon</div>
    <div class="weekday">Tue</div>
    <div class="weekday">Wed</div>
    <div class="weekday">Thu</div>
    <div class="weekday">Fri</div>
    <div class="weekday">Sat</div>

    <!-- Days 1 to 25 -->
    <div class="day sunday"><span>1</span></div>
    <div class="day"><span>2</span></div>
    <div class="day"><span>3</span></div>
    <div class="day"><span>4</span></div>
    <div class="day"><span>5</span></div>
    <div class="day"><span>6</span></div>
    <div class="day saturday"><span>7</span></div>
    <div class="day sunday"><span>8</span></div>
    <div class="day"><span>9</span></div>
    <div class="day"><span>10</span></div>
    <div class="day"><span>11</span></div>
    <div class="day"><span>12</span></div>
    <div class="day"><span>13</span></div>
    <div class="day saturday"><span>14</span></div>
    <div class="day sunday"><span>15</span></div>
    <div class="day"><span>16</span></div>
    <div class="day"><span>17</span></div>
    <div class="day"><span>18</span></div>
    <div class="day"><span>19</span></div>
    <div class="day"><span>20</span></div>
    <div class="day saturday"><span>21</span></div>
    <div class="day sunday"><span>22</span></div>
    <div class="day"><span>23</span></div>
    <div class="day"><span>24</span></div>

    <!-- Days 25 to 28 (Greyed out) -->
    <div class="day greyed-out"><span>25</span></div>
    <div class="day greyed-out"><span>26</span></div>
    <div class="day greyed-out"><span>27</span></div>
    <div class="day greyed-out"><span>28</span></div>
</div>
