.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    max-width: 960px;
    margin: auto;
}

.day, .weekday {
    padding: 48px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #f9f9f9;
    height: 120px;
    width: 144px;
    position: relative;
}

.day.greyed-out {
    background-color: #d3d3d3;
    color: #888;
}

.weekday {
    font-weight: normal;
    background-color: #e0e0e0;
    padding: 12px;
    height: 45px;
    font-size: 0.8em;
    text-align: center;
}

.day span {
    position: absolute;
    top: 5px;
    left: 5px;
}

.day.saturday span {
    color: blue;
}

.day.sunday span {
    color: red;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 1.4em;
    margin: 1em 0 1em;
    padding: 0.7em 0;
    position: relative;
    width: 8em;
}

h1::before,
h1::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 1px;
    background: #ccc;
    transform: translateY(-50%);
}

h1::before {
    left: 0;
}

h1::after {
    right: 0;
}

.title {
    display: flex;
    justify-content: center;
}